body {
    margin: 0px;
    font-family: "SoDo Sans SemiBold", Helvetica Neue, Helvetica, Arial,
        sans-serif;
}
.navbar-container {
    box-shadow: 0px 4px 5px 0px rgba(191, 122, 122, 0.71);
    -webkit-box-shadow: 0px 4px 5px 0px rgba(191, 122, 122, 0.71);
    -moz-box-shadow: 0px 4px 5px 0px rgba(191, 122, 122, 0.71);
}
.navbar {
    max-width: 1560px;
    padding: 20px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.navbar-left svg {
    width: 50px;
    margin-right: 20px;
}

.navbar-left div {
    text-transform: uppercase;
    font-weight: 600;
}
.navbar-left div:hover,
.find-a-store:hover {
    color: #00754a;
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-left > *,
.navbar-right > * {
    margin: 10px;
}

.find-a-store {
    display: flex;
    align-items: center;
    font-weight: 500;
}

.sign-in,
.join-now {
    font-weight: 500;
    border: 1px solid black;
    border-radius: 40px;
    padding: 5px 20px 5px 20px;
}

.join-now {
    background-color: black;
    color: white;
}

.join-now:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.sign-in:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

.container {
    max-width: 1440px;
    margin: auto;
}
.product img {
    max-width: 100%;
    object-fit: contain;
    height: 100%;
}
.product {
    display: flex;
}

.product-left,
.product-right {
    max-width: 50%;
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    height: 100%;
    align-content: stretch;
    flex-direction: column;
}

.product-title {
    width: 100%;
    text-align: center;
    color: white;
}
.product-container {
    margin: 40px 0px 40px 0px;
    display: flex;
}

.product-button {
    border: 1px solid white;
    max-width: max-content;
    padding: 5px 20px 5px 20px;
    border-radius: 40px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
}

.product-button-white {
    color: white;
}

.product-button-black {
    color: black;
    border-color: black;
}

.product-description {
    text-align: center;
    padding: 30px 60px 30px 60px;
    font-size: 18px;
}

.footer {
    padding: 50px;
    text-align: center;
}
